<nav class="navbar-container">
  <ul class="navbar-list">
    <li class="navbar-list-item">
      <a class=" navbar-item navbar-link" routerLink="/">Home</a>
    </li>
    <li class="navbar-list-item">
      <a class="navbar-item navbar-link" routerLink="/about-us">About Us</a>
    </li>
    <li class="navbar-list-item">
      <a class="navbar-item navbar-link" routerLink="/auth/login">Login</a>
    </li>
    <li class="navbar-list-item">
      <span class="navbar-item">Admin</span>
      <ul class="navbar-suboption-list">
        <li class="navbar-suboption-list-item">
          <a class="navbar-suboption navbar-suboption-link" routerLink="/admin/users">Users</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
